<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.iee.view.TestEditor"
            default="false"
            icon="icons/IEE.png"
            id="IEE-Production.editor1"
            name="TestEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="IEE-Production.iee_category"
            name="IEE">
      </category>
      <view
            allowMultiple="false"
            category="IEE-Production.iee_category"
            class="com.github.iee.workbench.views.ContainerManagerView"
            icon="icons/IEE.png"
            id="IEE-Production.container_view"
            name="ContainerManagerView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="IEE-Production.iee_category"
            class="com.github.iee.workbench.views.PadManagerView"
            icon="icons/IEE.png"
            id="IEE-Production.pad_view"
            name="PadManagerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="IEE-Production.InsertPadContribution"
            targetID="#CompilationUnitEditorContext">
         <action
               class="com.github.iee.workbench.actionDelegates.InsertPadActionDelegate"
               id="IEE-Production.insertPad"
               label="Insert Pad"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="IEE-Production.iee_wizard"
            name="IEE">
      </category>
      <wizard
            category="IEE-Production.iee_wizard"
            class="com.github.iee.workbench.wizards.AddPadWizard"
            id="IEE-Production.AddPadWizard"
            name="Add Pad">
      </wizard>
   </extension>n>

</plugin>
