<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.github.iee.view.TestEditor"
            default="false"
            icon="icons/IEE.png"
            id="IEE-Production.editor1"
            name="TestEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="IEE-Production.iee_category"
            name="IEE">
      </category>
      <view
            allowMultiple="false"
            category="IEE-Production.iee_category"
            class="com.github.iee.workbench.view.ContainerManagerView"
            icon="icons/IEE.png"
            id="IEE-Production.container_view"
            name="ContainerManagerView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="IEE-Production.iee_category"
            class="com.github.iee.workbench.view.PadManagerView"
            icon="icons/IEE.png"
            id="IEE-Production.pad_view"
            name="PadManagerView"
            restorable="true">
      </view>
   </extension>

</plugin>
